body{
    background-color: #555861;
}

#bookmarks{
    margin: 0 auto;
    max-width: 800px;
    vertical-align: middle;
}

.title-banner{
    background-color: #2A2E39;
    border-radius: 7px;
}

.title-icon{
    width: 70px;
    height: 70px;
}

.bookmark{
    float: left;
    border: 1px solid #999BA0;
    width: 770px;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 7px;
}

.quote {
    font-style: italic;
}

.orig_link{
    font-weight: bold;
}

.image-content{
    max-width: 600px;
}

.bookmark-content{
    float: left;
    max-width: 590px;
    margin: 20px;
    font-family: Georgia;
}

.date {
    font-size: 13px;
    color: #999BA0;
}

.trash{
    float: right;
    width: 17px;
    height: 17px;
    margin-top: 15px;
    margin-right: 15px;
}

.icon{
    width: 50px;
    height: 50px;
    margin: 20px;
    float: left;
}
